.App{
    padding: 4rem;
    margin: auto;
    min-width: none;
    min-height: 100vh;
}
.navbar{
    background-image: black !important;
    padding: 5px;
    margin: 0 auto;
    height: 3.125rem;
    max-width: 100%;
}

a {
    text-decoration: none;
}